.loaderWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 400px);
}

@media (max-width: 768px) {
    .loaderWrapper {
        height: calc(100vh - 150px);
        font-size: medium;
    }
}