.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100%;
    margin: 0 auto;
}

.menuIcon {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: antiquewhite;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 70%;
    margin: 0 auto;
    gap: 20px;
    margin-right: 1%;
}

.navLinks.showMenu {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
}

.navLinks a {
    display: block;
    padding: 10px 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    right: 0;
}

.activelink {
    text-decoration: none;
    color: antiquewhite;
    font-size: 22px;
    font-weight: bold;
}

.inactivelink {
    text-decoration: none;
    transition: color 0.3s ease;
}

.inactivelink:hover {
    color: #777;
}

.buttons {
    display: flex;
}

.loginButton {
    background-color: antiquewhite;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

.loginButton:hover {
    background-color: #777;
    color: antiquewhite;
}

.signupButton {
    margin-left: 20px;
    background-color: antiquewhite;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

.signupButton:hover {
    background-color: #777;
    color: antiquewhite;
}

.logoutButton {
    background-color: antiquewhite;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

.logoutButton:hover {
    background-color: #777;
    color: antiquewhite;
}

.separator {
    height: 2px;
    margin: 5px;
    background: linear-gradient(to right, transparent, #777, transparent);
}

@media (max-width: 768px) {
    .menuIcon {
        display: block;
    }

    .buttons {
        position: absolute;
        width: 100%;
        padding-left: 23%;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}