.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    background-color: black;
    width: 100%;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.activelink {
    text-decoration: none;
    color: antiquewhite;
    font-size: 22px;
    font-weight: bold;
}

.inactivelink {
    text-decoration: none;
    transition: color 0.3s ease;
}

.inactivelink:hover {
    color: #777;
}

.loginButton {
    background-color: antiquewhite;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

.loginButton:hover {
    background-color: #777;
    color: antiquewhite;
}

.signupButton {
    margin-left: 20px;
    background-color: antiquewhite;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

.signupButton:hover {
    background-color: #777;
    color: antiquewhite;
}

.logoutButton{
    background-color: antiquewhite;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

.logoutButton:hover {
    background-color: #777;
    color: antiquewhite;
}

.separator {
    height: 2px;
    margin: 5px;
    background: linear-gradient(to right, transparent, #777, transparent);
}